<?xml version="1.0" encoding="utf-8"?>
<CleanupCodeOptions>
   <Debug>false</Debug>
   <Verbosity>OFF</Verbosity>
   <Profile>Built-in: Full Cleanup</Profile>
   <Include>**/*.cs;**/*.scss;**/*.razor;**/*.cshtml;**/*.md</Include>
   <Exclude>**/bin/**;**/obj/**;**/Migrations/**;**/*.Designer.cs;**/*.g.cs;**/*.generated.cs;**/*.razor.g.cs;**/wwwroot/**;**/node_modules/**</Exclude>
   <Build>false</Build>
</CleanupCodeOptions>